#howtouse.panel.panel-default
  .panel-heading
    %h2.panel-title
      使い方
  .panel-body
    %ol
      %li
        Twitterアカウントでログインします
      %li
        リプライを
        %strong<>
          送られている
        人を指定します
      %li
        リプライを送られているアカウントの一覧が出てきます
        %br
        %button.btn.btn-danger
          ブロックする
        を押すと一覧のアカウントをまとめてブロックします
      %li
        Enjoy, Twitter Life!
