%h3 アプリ連携について
このツールでは, Twitterアカウントによる認証を行いますが, その際に以下のアクセス権限を要求されます.
%ul
  %li ツイートを見る
  %li フォローしている人を見る
  %li 新しくフォローする
  %li プロフィールを更新する
  %li ツイートする
これは, 「ブロック/ミュート」という操作が可能になる必要最低限の権限で, このツールでは現状「ブロック/ミュートをする」以外の操作はしません. ご理解ください.
%br
適当にGoogleを検索したら
= link_to "ここ", "http://blog.fkoji.com/2015/03210141.html", target: '_blank'
とかがわかりやすかったので, どうぞご参考までに.
