- set_meta_tags title: "このサイトについて"

= render partial: "howtouse", locals: {is_about: true}

#about
  = render partial: "integration"
  %h3 免責事項
  このツールを使うことにより, 以下にあげる副作用が考えられます
  %ul
    %li 知り合いを誤ってブロックしてしまい, 人間関係に亀裂が入る
    %li 有名なアカウントをブロックしてしまう
    %li ブロックのしすぎでTwitterから(例えば)アカウントをロックされる
    %li その他いろいろ
  これらのような、このツールを使うことによって生じた直接・間接問わず、いかなる損害について、いかなる責任も負いませんし、負えません。

  %h4 要望など
  要望などがあれば作者のTwitter
  = link_to "@White_mak4026", "https://twitter.com/@White_mak4026"
  に連絡するなどをすると, もしかすると実現するかもしれませんが, 期待はしないでください.
  %br
  %small
    万が一私に感謝の気持ちを表現したい方がいらっしゃったら,
    = link_to 'なんかください.', "http://amzn.asia/1J9d8BG"
    なんかくれたからといって, 要望を聞くということはないので, そこも期待しないでください.

  %h4 実装するかもしれない
  %ul
    %li 特定のツイートに対するリプライを送っている人を取得してブロックする
    %li
      %s ブロックする人一覧の画面で、ブロックしない人を選べるようにする
      done.

  %h4 バージョン
  %dl
    %dt v1.0.0
    %dd
      ブロック/ミュートをしたくない人を選べるようにしました.
      %br
      今までは, 最近リプライを送った100人程度までしか遡ることが出来ませんでしたが, より古いリプライまで遡ることができるようにしました.
      %br
      ブロック済のアカウントは確認画面で表示していませんでしたが, ミュート済のアカウントは表示されていた問題を修正しました.
      %br
      サーバー内部のロジックを修正し, TwitterのAPIを使用する回数を減らしました.
  %dl
    %dt v0.1.7
    %dd
      ブロックする代わりに, ミュート出来るようにしました.
      %br
      対象となるリプライを表示するか選べるようにしました. デフォルトでは表示しません.
  %dl
    %dt v0.1.6
    %dd
      対象となるリプライをブロックする人一覧の画面で表示するようにしました.
      %br
      (今は確認できるだけで, ブロックしない人を選択出来るようにいつかなります.多分)
  %dl
    %dt v0.1.5
    %dd
      高度な検索オプションを追加しました.
      %br
      特定のワードを含むリプライだけを検索したり, 特定のワードを含むリプライを除外することができます.
  %dl
    %dt v0.1.4
    %dd
      フォロー中のアカウントをブロック対象とするか選べるようにした. デフォルトでは除外されます.
      %br
      また, ブロックする人一覧の画面で, フォロー中の人にはラベルが付きます.
      %br
      ブロックした時のメッセージを少し変更した.
  %dl
    %dt v0.1.3
    %dd スマホ画面に対応するのを忘れていたので対応した
  %dl
    %dt v0.1.2
    %dd エラーメッセージを親切にしたり, バグを修正した
  %dl
    %dt v0.1.0
    %dd 公開
