= render partial: "howtouse"

#about
  %h3 免責事項
  このツールを使うことにより, 以下にあげる副作用が考えられます
  %ul
    %li 知り合いを誤ってブロックしてしまい, 人間関係に亀裂が入る
    %li 有名なアカウントをブロックしてしまう
    %li ブロックのしすぎでTwitterから(例えば)アカウントをロックされる
    %li その他いろいろ
  これらのような、このツールを使うことによって生じた直接・間接問わず、いかなる損害について、いかなる責任も負いませんし、負えません。

  %h4 実装するかもしれない
  %ul
    %li 特定のツイートに対するリプライを送っている人を取得してブロックする
    %li ブロックする人一覧の画面で、ブロックしない人を選べるようにする

  %h4 バージョン
  %dl
    %dt v0.1.0
    %dd 公開
