.navbar .icon-twitter {
  margin-right: 10px;
}

#index-body {
  margin-bottom: 30px;
  height: auto;
  overflow: hidden;
  .checkbox {
    input{
      margin-left: 0px;
    }
  }
}

#twid-input, #twstatus-input{
  overflow: hidden;
  margin-top: 20px;
  .input-form{
    padding: 0px;
  }
  .submit-button{
    padding: 0px;
  }
}

#collapse-option{
  padding-left: 20px;
  div {
    margin-top: 10px;
  }
}

#howtouse {
  ol{
    font-size: large;
    li{
      margin-bottom: 10px;
      line-height: 150%;
    }
  }
}

#confirm{
  font-size: 120%;
  margin-bottom: 20px;
  .target-name, .block-count{
    font-weight: bold;
    font-size: 150%;
  }
  .target-id{
    color: gray;
    margin: 0px;
  }
  .rate_limit{
    color: gray;
    font-size: 80%;
  }
}

#block_ids label {
  display: block;
  font-weight: normal;
}

#block_ids .list-group-item input[type=checkbox]{
  transform: scale(1.2);
}

#block_ids .list-group-item .icon-twitter{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#block_ids .list-group-item .account{
  a{
    display:inline-block;
    width: auto;
    padding-right: 5px;
  }
  display: inline-block;
  width: auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  .name{
    color: #292F33;
    font-weight: bold;
    font-size: 150%;
    margin: 0px;
  }
  .screen-name{
    color: gray;
    margin: 0px;
  }
  .following{
    display: inline-block;
  }
}
#block_ids .list-group-item .tweets{
  display: none;
  a {
    color: SlateGray;
  }
}

input[type=checkbox]#tweet_display_check:checked ~ #block_ids .list-group-item .tweets{
  display: block;
}
