/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
  .container{
    display: flex;
    align-items: center;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
    color: Silver;
  }
}
